* {
  margin: 0;
  padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1,h2,h4,h5,a{
  font-family: 'Bebas Neue', sans-serif;
}
.header {
  width: 95%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.My_logo {
  border: 5px solid rgb(165, 190, 21);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.menu_items,
.menu_items li a {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  transition: all ease 0.5s;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: black;
  /* color: black; */
}
.menu_items li a:hover {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #15124b;
  color: aliceblue;
  transition: all ease 0.2s;
  /* color: black; */
}

.button {
  box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.22),
    0px 5px 14px 0px rgba(0, 0, 0, 0.18);
  padding: 10px !important;
  border-radius: 10px;
}
.hero_text p {
  margin-top: 15px;
}
.hero_text h5,
p {
  color: #686b6e;
}

.hero_text h5 {
  margin-bottom: 15px;
}
h1 {
  font-size: 30px;
}
.hero_red_text {
  color: rgb(224, 18, 18);
}
.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px auto;
}
.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 50%;
  margin-top: 140px;
}
.hero_image {
  width: 50%;
  box-shadow: 5px 5px 5px 5px red;
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 140px;
}
.hero_image img {
  width: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.hero_buttons h6{
 margin-bottom: 10px;
 text-align: center;
}
.hero_buttons ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.hero_buttons li {
  list-style: none;
}
.hero_buttons li i {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all ease 0.5s;
  box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.22),
    0px 5px 14px 0px rgba(0, 0, 0, 0.18);
  padding: 10px;
  border-radius: 10px;
  /* color: black; */
}
.hero_buttons li a:hover {
  /* list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px; */
  background-color: #15124b;
  color: aliceblue;
  transition: all ease 0.2s;
  /* color: black; */
}

.feature_section {
  width: 95%;
  margin: 70px auto 70px auto;
}
.box {
  display: flex;
}
.box div {
  flex: 1;
  box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.22),
    0px 5px 14px 0px rgba(0, 0, 0, 0.18);
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.box div:hover {
  
  box-shadow: 2px 6px 8px 10px rgba(230, 3, 3, 0.22),
    10px 5px 14px 0px rgba(51, 201, 13, 0.18);
 color: aliceblue !important;
}

.box div i {
  margin: 30px 0;
  color: brown;
}
h2 {
  color: #37383a;
}

.feature_section h1 {
  color: #37383a;
  font-size: 50px;
  margin-left: 1%;
  margin-bottom: 15px;
  font-weight: bold;
}
.feature_section h5 {
  color: #37383a;
  font-size: 15px;
  margin-left: 2%;
  margin-bottom: 5px;
}
