@media (min-width: 768px){
    .bars i{
        display: none;
     }

}
@media (min-width: 576px) and (max-width:767px){
 .bars i{
    display: none;
 }
}
@media (max-width: 575px){
    .menu_items {
        display: none;
    }
    .bars div{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
     }
     .hero_section {
        flex-direction: column-reverse;
        margin-top: 10px;
      }

      .hero_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
        margin-top: 50px;
      }
      .hero_image {
        width: 100%;
        box-shadow: 5px 5px 5px 5px rgb(15, 44, 3);
        height: 400px;
      }
      .hero_image img {
        width: 80%;
      }

}